<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Projeto_Web_RHPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <class>entidade.Estado</class>
    <class>entidade.BancoPagador</class>
    <class>entidade.Cep</class>
    <class>entidade.Cnpj</class>
    <class>entidade.Cidade</class>
    <class>entidade.Dependente</class>
    <class>entidade.Empregador</class>
    <class>entidade.EstadoCivil</class>
    <class>entidade.Instrucao</class>
    <class>entidade.Nacionalidade</class>
    <class>entidade.TipoDependente</class>
    <class>entidade.TabelaHorario</class>
    <class>entidade.Trabalhador</class>
    <class>entidade.Ferias</class>
    <class>entidade.Fgts</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/grhweb?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
      <property name="hibernate.hbm2ddl.auto" value="update"/>
    </properties>
  </persistence-unit>
</persistence>
